.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.created {
  margin-right: 0.5rem;
  color: var(--blue);
  font-size: 0.875rem;
  font-weight: 700;
  user-select: none;
}

.done {
  margin-right: 0.5rem;
  color: var(--purple);
  font-size: 0.875rem;
  font-weight: 700;
  user-select: none;
}
