.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 43rem;
  margin: 0 auto;
}

.newTask {
  display: flex;
  gap: 0.5rem;
  margin-top: -1.75rem;
}

.input {
  color: var(--gray-100);
}